<mat-card class="lesson-card" *ngIf="isLessonVisible">
  <mat-card-header>
    <mat-card-title>
      <h3>{{ lesson.title }}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="lesson.imageUrl" alt="{{ lesson.title }}">
  <mat-card-content>
    <h4>{{ lesson.description }}</h4>
    <p>מורה: {{ lesson.teacher }}</p>
    <p>יום: {{ lesson.day }}, שעה: {{ lesson.time }}</p>
    <p>תאריך התחלה: {{ lesson.startDate.toDateString() }}</p>
    <b>מחיר: {{ lesson.price }} ש"ח</b>
  </mat-card-content>
</mat-card>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<!-- 
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card> -->